@model Book

@{
    string title = ViewBag.Action + " Book";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="BookTitle">Book Title</label>
        <input asp-for="BookTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BookAuthor">Book Author</label>
        <input asp-for="BookAuthor" class="form-control" />
    </div>

    <input type="hidden" asp-for="BookId" />

    <button type="submit" class="btn alert-primary">Save</button>
    <a asp-controller="Home" asp-action="Index" class="btn alert-primary">Cancel</a>
</form>


